.landing-page {
  background-image: url("https://www.google.com/search?sca_esv=6a03f9eebeaaf4c7&sxsrf=ANbL-n6b80l-UtHmmamuxrwqZRlmG_QCZg:1780762052665&udm=2&fbs=ADc_l-aN0CWEZBOHjofHoaMMDiKpaEWjvZ2Py1XXV8d8KvlI3o6iwGk6Iv1tRbZIBNIVs-5-bUj3iBl-UxHsANYwOkWWIHyK1NRBVtxaVLlI368r1sO_OMujwuZE1H9wBGiUEFKaIv-UExzkT4rqVSLwXbL5yWPGopUNljv5GQ5DwuDVa-IKUeFZ70StwpJt_rJTYvLKtJx3fZhTEKDS9dAdZKM0nO474w&q=plant+images&sa=X&sqi=2&ved=2ahUKEwi2n9DM__KUAxVrg4kEHY0PLV8QtKgLegQIEhAB&biw=1470&bih=798&dpr=2#sv=CAMSVhoyKhBlLXRfbVE5VERqaXRpY05NMg50X21ROVREaml0aWNOTToOS3V0MlQzSWVBVTh1OU0gBCocCgZtb3NhaWMSEGUtdF9tUTlURGppdGljTk0YADABGAcg4uymQUoIEAEYASABKAE");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
